$color-white: #ffffff;
$color-blue-dark: #000066;
$color-red-light: #ee0025;
$color-purple-light: #e6e6f0;
$color-purple-light-two: rgba(0, 0, 102, 0.03);
$color-sky-blue: #6767da;
$color-red-dark: #ff0028;
$border-color-one: rgba(0, 0, 102, 0.2);
$para-color: rgba(0, 0, 102, 0.5);
$red-btn-hover: #c3001e;
$bg-color-grey: #808080;
$color-black: #000000;
$menuHover: #f0f0fc;
$menuHoverText: #a00019;
$light-blue: #f0f0fc;
